.todoBox{
    margin-left: 40%;
    margin-top: 10%;
}
body{
    background-color: rgb(190, 54, 190);
}
.header{
    margin-left:6%;
}
.clearAll{
    margin-left:2%;
    margin-bottom: 15px;
    background-color: pink;
}